{
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } },
    { "files": ["*.md", "*.mdx"], "options": { "proseWrap": "preserve" } }
  ]
}
