---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome, Wanderer</h1>
			<p>
				Welcome to a discordant group of ramblings on whatever happens to be on my mind, but mostly software. Maybe, just maybe, the noise might be kindly thought of as riffing.
			</p>
		</main>
		<Footer />
	</body>
</html>