---
const { description } = Astro.props;
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="italic">{description}</div>
  <div class="pb-2">&copy; {today.getFullYear()} Ricardo Torres</div>
  <div class="inline opacity-75">
    <p>Based on the wonderful</p><a
      href="https://github.com/manuelernestog/astrofy"
      target="_blank"
      class="font-bold">Astrofy Personal Website Template</a
    > by <a
      href="https://manuelernestog.github.io"
      target="_blank"
      class="font-bold">Manuel Ernesto ⚡️</a
    >
  </div>
</footer>
<style></style>
